extend jade - templates/layout.jade

block head
	title WebToolz
	link(rel="stylesheet" href="stylesheets/screen.css" )

block header
	h1.logo.muli Web
			span Toolz

block content
	main
		div(data-math).cf
			h1 Math conversions

			form.fluid-math( autocomplete="off" data-percent )
				div
					label.centered( for="parent-size" ) Parent element size
					.px
						input.centered.base-value(id="parent-size" placeholder="960" )
				div.children-size
					label.centered Children size
					.px
						input.centered.values(id="children-size" placeholder="480")
				div
					button.centered(id="convert-percent") Convert!
				div
					input.centered.result(id="percent-result" placeholder="Result")
			// ------------------------------------------------------------- //
			form.fluid-math(autocomplete="off" data-px-em)
				div
					label.centered(for="pixel-base") Pixel base size
					.px
						input.centered.base-value(id="pixel-base" placeholder="16" value="16")
				div.cf
					div
						label.centered Px To Em
						input.centered.values(id="pixel-value" placeholder="px" data-conv-type="px-to-em")
					div
						label.centered Em To Px
						input.centered.values(id="em-value" placeholder="em" data-conv-type="em-to-px")
				div
					button.centered(id="convert-px") Convert!
				div
					input.centered.result(id="px-result" placeholder="Result" readonly )


	aside 
		h4.aside.centered.muli select your tool
		ul
			li(data-math) Fluid math
			li(data-border) Border radius
			li(data-hex) Hex to RGBA
			li(data-shadow) Box shadow
			li(data-sprite-cow) Sprite Cow

block scripts
	script( src="scripts/Vendor/proto.js" )
	script( src="scripts/app.js" )