extend jade - templates/layout.jade

block head
	title WebToolz
	link(rel="stylesheet" href="stylesheets/screen.css" )

block header
	h1.logo.muli Web
			span Toolz

block content
	main
		div(data-math)
			h1 Math conversions

			form.fluid-math
				div
					label.centered(for="parent-size") Parent element size
					input.centered.px(id="parent-size" placeholder="960" )
				div.children-size
					label.centered Children size
					input.centered(id="pixel-value" placeholder="24")
				div
					button.centered(id="convert") Convert!
				div
					input.centered(id="convertion-result" placeholder="Result")

			form.fluid-math
				div
					label.centered(for="pixel-base") Pixel base size
					input.centered(id="pixel-base" placeholder="16" value="16")
				div.cf
					div
						label.centered Px To Em
						input.centered(id="pixel-value" placeholder="24")
					div
						label.centered Em To Px
						input.centered(id="em-value" placeholder="1.5")
				div
					button.centered(id="convert") Convert!
				div
					input.centered(id="convertion-result" placeholder="Result" readonly )


	aside 
		h4.aside.centered.muli select your tool
		ul
			li(data-math) Fluid math
			li(data-border) Border radius
			li(data-hex) Hex to RGBA
			li(data-shadow) Box shadow
			li(data-sprite-cow) Sprite Cow
