doctype html
html( ng-app="webtoolz" )
	head
		meta(charset="UTF-8")
		block head
	body
		header
			.wrapp.cf
				block header
		.wrapp.content.cf
			block content

		footer
			.wrapp.cf
				block footer
		
		block scripts