extend jade/partials/layout.jade

block head
	title WebToolz
	link(rel="stylesheet" href="stylesheets/screen.css" )
	link( rel="icon" href="images/layout/icons/fav.ico" type="image/x-icon" )

block header
	h1.logo.muli Web <span>Toolz</span>

block content
	main( ng-view )

	aside 
		h4.aside.centered.muli select your tool
		ul#features
			li 
				a(href="#/math") Fluid math
			li 
				a(href="#/radius") Border radius
			li 
				a(href="#/") Hex to RGBA
			li 
				a(href="#/") Box shadow
			li 
				a(href="#/") Sprite Cow

block scripts
	script( src="scripts/Vendor/proto.js" )
	script( src="scripts/Vendor/angular.min.js" )
	script( src="scripts/Vendor/angular-route.min.js" )
	script( src="scripts/app.js" )