section(data-view="math").cf
	h1 Math conversions

	form.fluid-math( autocomplete="off" data-percent ng-controller="percentConvertion")
		div
			label.centered( for="parent-size" ) Parent element size
			.px
				input.centered.base-value(id="parent-size" placeholder="960" ng-model="base" ng-focus="clear($event);")
		div.children-size
			label.centered Children size
			.px
				input.centered.values(id="children-size" placeholder="480" ng-focus="clear($event);" ng-model="px")
		div
			button.centered(id="convert-percent" ng-click="calculatePercent();" ) Convert!
		div
			input.centered.result(id="percent-result" placeholder="Result" readonly ng-model="result" )

	form.fluid-math(autocomplete="off" data-px-em ng-controller="emConvertion")
		div
			label.centered(for="pixel-base") Pixel base size
			.px
				input.centered.base-value(id="pixel-base" placeholder="16" value="16" ng-model="base" ng-focus="clearBase()")
		div.cf
			div
				label.centered Px To Em
				input.centered.values(id="pixel-value" placeholder="px" ng-model="px" data-convertionType="px-to-em" ng-focus="clear($event); changeConvertionType($event);")
			div
				label.centered Em To Px
				input.centered.values(id="em-value" placeholder="em" ng-model="em" data-convertionType="em-to-px" ng-focus="clear($event); changeConvertionType($event);")
		div
			button.centered(id="convert-px" ng-click="pixelConvertion()") Convert!
		div
			input.centered.result(id="px-result" placeholder="Result" readonly ng-model="result")