section(data-view="math").cf
	h1 Math conversions

	form.fluid-math( autocomplete="off" ng-controller="percentConvertion")
		div
			label( for="parent-size" class="centered" ) Parent element size
			.px
				input( type="text" class="centered base-value" placeholder="960" ng-model="base" ng-focus="clear($event);")
		div.children-size
			label.centered Children size
			.px
				input( type="text" class="centered values" placeholder="480" ng-focus="clear($event);" ng-model="px")
		div
			button( type="text" class="centered" ng-click="calculatePercent();" ) Convert!
		div
			input( type="text" class="centered result" placeholder="Result" readonly ng-model="result" )

	form.fluid-math(autocomplete="off" ng-controller="emConvertion")
		div
			label.centered(for="pixel-base") Pixel base size
			.px
				input( type="text" class="centered base-value" placeholder="16" value="16" ng-model="base" ng-focus="clearBase()")
		div.cf
			div
				label.centered Px To Em
				input( type="text" class="centered values" placeholder="px" ng-model="px" data-convertionType="px-to-em" ng-focus="clear($event); changeConvertionType($event);")
			div
				label.centered Em To Px
				input( type="text" class="centered values" placeholder="em" ng-model="em" data-convertionType="em-to-px" ng-focus="clear($event); changeConvertionType($event);")
		div
			button.centered( type="text" ng-click="pixelConvertion()") Convert!
		div
			input( type="text" class="centered result" placeholder="Result" readonly ng-model="result")