section(data-view="radius").cf
	h1 Border radius

	form
		input( placeholder="px" ).border-value.top.left
		input( placeholder="px" ).border-value.top.right
		input( placeholder="px" ).border-value.bottom.right
		input( placeholder="px" ).border-value.bottom.left
		.border-preview
			p( data-radius-result )