@import "compass/reset";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Muli);

$font : whitesmoke;
$main-font : #252525;
$muli : 'Muli', sans-serif;
$cyan : #29c7c8;
$aqua : #269793;
$traslucid-cyan : rgba(41, 199, 200, 0.8);
$general : rgba(45, 46, 51, 0.5);
$traslucid : rgba(33, 34, 37, 0.65);

// -- Breakpoints.

$break-large : 1024px;

* {
	&:focus {
		outline: none;
	}
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

small {
	font-size: .7em;
	opacity: 0.7;
}

body {
	font-size: 100%;
	width: 100%;
	margin: 0 auto;
	font-family: 'Arial', 'sans-serif';
	color: $font;
	background: url(../images/patterns/diagmonds.png) repeat;
	padding: 2em 0;
		@media screen and (max-width : $break-large) {
			padding: 0;
		}
}

.wrapp {
	width: 60em;
	margin: 0 auto;
}

.centered {
	text-align: center;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

form.centered {
	width: 100%;
}

.muli {
	font-family: $muli;
}

.hidden {
	display: none;
}

.floated {
	float: left;
}

.cf {
	&::after, &::before {
		display: table;
		content: ' ';
	}
	&::after {
		clear: both;
	}
}

img {
	&.centered {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

button {
	border: none;
	font-weight: bolder; 
	padding: .5em 1em;
	transition: opacity linear .3s;
		&.centered {
			display: block;
			margin: 0 auto;
		}
		&:hover {
			cursor: hand;
			cursor: pointer;
			opacity: 0.85;
		}
}

input {
	&.centered {
		display: block;
		margin: 0 auto;
	}	
}

.logo {
	background: $general;
	font-size: 2em;
	padding: .5em 1em;
	display: inline-block;
		span {
			color: $cyan;
		}
}

header {
	.wrapp {
		background: $traslucid;
	}
}

.aside {
	display: inline-block;
	width: 13.313em;
	background: $traslucid;
	padding: 1em 2em;
}

aside {
	width: 13.313em;
	float: left;
		li {
			border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
			border-right: 5px solid transparent;			
				&:last-child {
					border-bottom: none;
				}
		}
		a {			
			background: $traslucid;
			display: block;
			width: 100%;
			font-family: $muli;
			font-size: 1.5em;
			text-align: center;
			padding: 2em 0;
			padding: 1em 1.5em;				
				&.active {
					border-right: 5px solid $aqua;
				}
				&:hover {
					background: lighten( $traslucid, 7% );
				}
		}
}

h4 {
	&.aside{
		font-size: 1em;
		background: $traslucid-cyan;
		padding: .5em 2em;
	}
}

main {
	
	width: 46.688em;
	float: left;
	background: whitesmoke;
	color: $main-font;
	padding: 2em;
		h1 {
			font-weight: bold;
			font-size: 2em;
			padding: 0 0 0 1em;
			position: relative;
			margin: 0 0 1em 0;
			 &::before {
				content: ' ';
				position: absolute;
				background: $cyan;
				width: .5em;
				height: .5em;
				left: 0;
				top: .25em;
				border-radius: 50%;
			 }
		}
		section {
			height: 33.6875em;
				&.active {
					display: block;
				}
		}
}

form {
	padding: 0 4em;
	width: 21em;
	float: left;
	border-left: 2px dashed $traslucid;
	color: $traslucid;
		div {
			margin: 1em 0;
		}
		.cf {
			div {
				width: 5.25em;
				float: left;
			}
			:last-child {
				float: right;
			}
		}
		label {
			font-size: 1.2em;
			display: block;
			width: 100%;
			margin-bottom: .8em;
				span {
					color: $aqua;
				}
		}
		h2 {
			font-size: 1.3em;
		}
		button {
			background: $traslucid-cyan;
			color: $aqua;
			font-size: 1.1em;
			border-radius: 25px;
		}
		&:first-of-type {
			border: none;
		}
		input[type=text], input[type=number] {
			@include box-shadow( 0px 0px 5px 0px rgba(160, 160, 160, 0.5) );
			border: none;
			font-size: 1.2em;
			width: 4.421em;
			height: 4.421em;
			text-align: center;
			border-radius: 50%;
			color: $main-font;
				&[type=number]::-webkit-inner-spin-button, 
				&[type=number]::-webkit-outer-spin-button { 
				  -webkit-appearance: none; 
				  margin: 0; 
				}
		}
		input.result {
			@include box-shadow( none );
			background: transparent;
			width: 100%;
		}
		.children-size {
			margin: 2em 0;
		}
		.px {
			margin: 0;
			position:relative;
				&::after {
					content: 'px';
					color: lighten($traslucid, 50%);
					position: absolute;
					right: 1.7em;
					top: 0;
					bottom: 0;
					margin-top: 1.5em;
					font-size: 1.2em;
				}
		}
}

section[data-view="radius"] {
	
	form {

		position: relative;
		margin: 0 auto;
		display: block;
		width: 75%;
		height: 75%;
		margin-left: 12.5%;
			div {
				position: relative;
				transition: all ease 1s;
				padding: 3em;
				margin: 2.875em 0 2.875em 12.5%;
				width: inherit;
				height: inherit;
				background: url(../images/patterns/crissXcross.png);
				color: rgba( 255, 255, 255, 0.85 );
				font-weight: bold;
				text-align: center;

					p {						
						width: 100%;
						height: 1em;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						margin-bottom: auto;
						margin-top: auto;
					}
			}
	}
	.border-value {
		position: absolute;
		padding: .5em;
		width: 3.421em;
		height: 3.421em;
			&.top {
				top: 0;
			}
			&.left {
				left: 0;
			}
			&.right {
				right: 0;
			}
			&.bottom {
				bottom: 0;
			}
	}
	

}

section[data-view="color-convertions"] {
	form {
		font-size: 1.5em;
	}
	.result {
		height: auto;
	}
}

$shadow-size : 10em;

section[data-view="boxShadow"] {
	.result {
		height: auto;
	}

	.shadow-preview {
		width: $shadow-size;
		height: $shadow-size;
		background: url(../images/patterns/crissXcross.png);
		margin: 2.5em auto;
	}
}